POSTGRES_DB=pricepulse
POSTGRES_USER=pricepulse
POSTGRES_PASSWORD=pricepulse

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

RABBITMQ_DEFAULT_USER=pricepulse
RABBITMQ_DEFAULT_PASS=pricepulse

TELEGRAM_BOT_TOKEN=your_bot_token_here
FASTAPI_BASE_URL=http://localhost:8000
