POSTGRES_DB=pricepulse
POSTGRES_USER=pricepulse
POSTGRES_PASSWORD=pricepulse

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

RABBITMQ_DEFAULT_USER=pricepulse
RABBITMQ_DEFAULT_PASS=pricepulse